/* body {
	background-color: black;
	color: white;
} */

.user-info {
	padding: 20px;
	text-align: center;
}

.action-button {
	display: flex;
	justify-content: center;
}

.action-button > div {
	margin: 0 5px;
}

table {
	text-align: center;
	margin: 0 auto;
}
tr > td,
th {
	padding: 5px;
}
