body {
	color: white;
	height: 100vh;
	background: linear-gradient(to bottom, #ff2c2c, white);
	object-fit: cover;
	font-family: "poppins";
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.user-info {
	padding: 20px;
	text-align: center;
}

.login-form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	display: flex;
	margin: 0 auto;
}
